<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ülke Yönelim Skorları</title>
    <link
      rel="stylesheet"
      href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
    />
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link rel="stylesheet" href="../css/ulkeler.css" />
  </head>
  <body>
    <div class="container">
      <aside class="sidebar">
        <img id="logo" src="../images/aselsan-logo.png" alt="Aselsan Logo" />
        <nav>
          <ul>
            <li><a href="anasayfa.html">Anasayfa</a></li>
            <li><a href="#">Kurumsal</a></li>
            <li><a href="urunler.html">Ürünler</a></li>
            <li><a href="login.html">Çıkış Yap</a></li>
          </ul>
        </nav>
      </aside>

      <main>
        <div id="map-container">
          <div>
            <label for="continent-select"></label>
            <select id="continent-select"></select>

            <label for="country-select"></label>
            <select id="country-select"></select>

            <button id="select-button">Seç</button>
          </div>
          <div id="map"></div>
        </div>
        <h3>Yönelim Skoru Grafiği</h3>
        <div id="charts-container" class="hidden">
          <div class="chart">
            <canvas id="pieChart"></canvas>
            <p></p>
          </div>
          <div class="chart">
            <canvas id="barChart"></canvas>
            <p></p>
            <br /><br />
            <div
              id="info-container"
              style="display: flex; gap: 20px; margin-top: 20px"
            >
              <!-- Dinamik olarak kutucuklar buraya eklenecek -->
            </div>
          </div>
        </div>
      </main>
    </div>
    <script src="../js/ulkeler.js"></script>
  </body>
</html>
